<%= form_with(model: invoice, local: true, :class => "form-horizontal") do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :number, :class => "control-label col-sm-2"  %>
    <%= form.number_field :number, id: :invoice_number %>
  </div>

  <div class="form-group">
    <%= form.label :amount, :class => "control-label col-sm-2" %>
    <%= form.number_field :amount, id: :invoice_amount %>
  </div>

  <div class="form-group">
    <%= form.label :date, :class => "control-label col-sm-2" %>
    <%= form.date_select :date, id: :invoice_date %>
  </div>

  <div class="form-group" >
    <%= form.label :to_address, :class => "control-label col-sm-2" %>
    <%= form.text_area :to_address, id: :invoice_to_address %>
  </div>

  <div class="field">
    <%= form.label :from_address, :class => "control-label col-sm-2" %>
    <%= form.text_area :from_address, id: :invoice_from_address %>
  </div>

  <div class="field">
    <%= form.label :notes, :class => "control-label col-sm-2" %>
    <%= form.text_area :notes, id: :invoice_notes %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
