<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>To address:</strong>
  <%= @invoice.to_address %>
</p>

<p>
  <strong>From address:</strong>
  <%= @invoice.from_address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %> |
<%= link_to 'Create another Invoice', new_invoice_path %>
