<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Amount (USD):</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Amount (GBP):</strong>
  <%= @invoice.amount_in_gbp %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>To address:</strong>
  <%= @invoice.to_address %>
</p>

<p>
  <strong>From address:</strong>
  <%= @invoice.from_address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %> |
<%= link_to 'Create another Invoice', new_invoice_path %>

<div class='payments'>
  <h3> Payments </h3>
  <% if @invoice.payments_due? %>
    <p><%= link_to 'Make Payment', new_invoice_payment_path(@invoice) %></p>
  <% end %>
  <p> <%= render @invoice.payments %> </p> 
</div>
