<%= form_with(model: payment, url: invoice_payments_path, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :payment_amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :payment_date %>
  </div>
  
  <div class="field">
      <%= form.hidden_field :invoice_id,value: @invoice.id, id: :invoice %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
